body{
    background-color: rgb(77, 1, 1);
    color: white;
    font-family:"Dancing Script", sans-serif;
    margin: 0px;
}
h1{
    font-size: 80px;
}
p{
    font-size: 20px;
}
header{
    border-bottom: dashed 2px rgb(11, 250, 3);
    padding: 10px;
    font-size: 32px;
    color:rgb(11, 250, 3) ;
}